@(anuncios: List[Anuncio])


@main("Meus Anuncios") {

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>Encontro Musical</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

        <link rel="stylesheet" href="../assets/css/bootswatch.min.css">

        <link rel="short icon" type="image/png" href="@routes.Assets.at("images/EncontroMusical.ico")">

    </head>

    <body>

            <!--NAVBAR-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="active navbar-brand" href="/">EM <span class="sr-only">(current)</span></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/meusAnuncios">Meus an&uacute;ncios</a></li>
                        <li><a href="/anuncios">Todos os an&uacute;ncios</a></li>
                        <li><a href="/sobre">Sobre o sistema</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Pesquisar</button>
                    </form>
                </div>
            </div>
        </nav>

        <script>

        </script>

            <!--LISTA DOS ANUNCIOS-->
        <div class="container starter-template">

            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Digite seu codigo de acesso"
                    id="codigo" required onkeypress="if ((window.event ? event.keyCode : event.which) == 13) {pesquisar();}">
                </div>
            </form>



        @if(anuncios.isEmpty) {
            <h3>N&atilde;o h&aacute; an&uacute;ncios cadastrados!</h3>
        } else {

            <h3>Seus an&uacute;ncios cadastrados:</h3>
            <div class="starter-template">

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                        <tr>
                            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span> T&iacute;tulo</th>
                            <th><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Data </th>
                            <th><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Cidade</th>
                            <th><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Bairro</th>
                            <th>Aberto?</th>
                            <th><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> A&ccedil;&atilde;o</th>
                        </tr>

                        @for(anuncio <- anuncios) {
                            <tr id="meusAnuncios">
                                <!--<td>@anuncio.getTitulo()</td>
                                <td>@anuncio.getDataDePostagem</td>
                                <td>@anuncio.getCidade</td>
                                <td>@anuncio.getBairro</td>-->

                            </tr>
                        }
                    </tbody>

                </table>


            </div>
        }
        </div>


            <!--SCRIPTS-->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootswatch.js")"></script>
        <script src="@routes.Assets.at("javascripts/uteis.js")"></script>

            <!--STYLE-->
        <style>
        body {
        padding-top: 50px;
        }

        .starter-template {
        padding: 40px 15px;
        text-align: center;
        }

        .time-line {
        width:900px;
        height:400px;
        overflow:auto;
        border: 0.5px;
        }
        </style>

    </body>



}